@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
}

span,
a,
p {
  font-family: 'Noto Sans KR';
}

a {
  color: unset;
  text-decoration: none;
}
